.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.caronaConfirmada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmationImage {
  margin-bottom: 20px;
}

.btnPrimary {
  background-color: #CF080F; 
  color: #ffffff; 
  border-color: #ffffff; 
  cursor: pointer;
}

.btnPrimary:hover {
  opacity: 0.7;
}