.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.caronaConfirmada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmationImage {
  margin-bottom: 20px;
}