.main {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  min-height: 100vh;
}

.content {
  width: 100%;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.barraSuperior {
  height: 50px;
  background: linear-gradient(to right, #CF080F, #c41f1f);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.searchTop {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1024px) {
  .content {
    margin-top: 0;
  }
}