.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
}

.illustration {
  width: 100vw;
  height: 30vh;
  position: relative;
  background: url("/imagens/carona-compartilhada.jpg") no-repeat center center scroll;
  background-size: cover;
}

.illustration > img {
  width: 250px;
  height: auto;
  position: absolute;
  top: 4px;
  left: 720px;
}

@media (min-width: 1024px) {
  .main {
    flex-direction: row;
  }
  .illustration {
    width: 50%;
    height: 100vh;
  }
}